<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Torrada Empanada</title>
  <link rel="icon" href="{{ url_for('static', filename='img/logo_photo.png') }}" type="image/png">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <div class="header-wrapper">
    <img src="{{ url_for('static', filename='img/logo_text.png') }}" alt="Header" class="header-image">
  </div>

  <div class="container">

    <div class="progress-container">
      <div class="progress-label {% if message and 'win' in message|lower %}win-label{% endif %}">
        {% if message and "win" in message|lower %}
          L'HAS ENCERTAT!
        {% else %}
          {{ similarity_percent }}%
        {% endif %}
      </div>

      <div class="progress-bar">
        <div class="progress-fill" style="width: {{ similarity_percent }}%;"></div>
      </div>
    </div>

    <div class="word-options">
        <div class="word-box {{ 'selected' if system_word == word1 else 'unselected' }}">
          <span>{{ word1 }}</span>
        </div>
        <div class="word-box {{ 'selected' if system_word == word2 else 'unselected' }}">
          <span>{{ word2 }}</span>
        </div>
    </div>

    {% if not session.get('winner') %}
      <form method="post" class="input-form">
        <input type="text" name="guess" placeholder="Escriu una paraula..." autocomplete="off" required autofocus />
        <button type="submit">▶</button>
      </form>
    {% endif %}


  </div>

  {% if session.get('winner') %}
    <div class="kpi-box">
      <div class="kpi-number">{{ winners_today }}</div>
      <div class="kpi-label">JUGADORS HAN ENCERTAT LA PARAULA AVUI</div>
    </div>

    {% if histogram_data %}
      <div class="histogram">
        <div class="bars">
          {% for bin_max, count in histogram_data %}
            <div class="bar" title="Fins a {{ bin_max }} intents">
              <div class="bar-fill" style="height: {{ count / max_count * 100}}px;"></div>
              <div class="bar-label">
                {% if bin_max == 100 %}100+{% else %}{{ bin_max }}{% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endif %}



  <script>
    function resizeTextToFit(box) {
      const span = box.querySelector('span');
      let fontSize = 18;

      span.style.fontSize = fontSize + 'px';

      while (span.scrollWidth > box.offsetWidth && fontSize > 10) {
        fontSize--;
        span.style.fontSize = fontSize + 'px';
      }
    }

    document.querySelectorAll('.word-box').forEach(resizeTextToFit);
  </script>

  <script>
    (s => {
      s.dataset.zone = '9673906';
      s.src = 'https://al5sm.com/tag.min.js';
    })([document.documentElement, document.body].filter(Boolean).pop().appendChild(document.createElement('script')));
  </script>

</body>
</html>
